@import "../../scss/mixin";

.home-page {
  height: 60%;
  //   background-color: #fafafe;
  height: "300px";
  padding-bottom: 25px;
  background-size: "cover";
  background-position: center;
  position: relative;
  display: "flex";

  .image-text {
    position: absolute;
    top: 82%;
    left: 23%;
    transform: translate(-50%, -50%);
    // background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;

    h2 {
      font-size: 4rem;
    }
    button {
      padding: 4px 18px;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      background-color: var(--darkPurple);
      border-radius: 50px;
      opacity: 1;
    }
  }

  .home-wrapper {
    display: flex;
    padding-right: 25px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-left: 15px;
    max-width: 1260px;
    width: 100%;

    @media (max-width: 375px) {
      display: contents;
    }

    @media (max-width: 414px) {
      display: contents;
    }

    @media (max-width: 1215px) {
      flex-direction: column;
    }

    @media (max-width: 2000px) {
      .balance-wrapper {
        margin-right: 0;
      }

      .top-up-wrapper {
        max-width: 100%;
      }
    }
  }
}

@include mobile {
  .home-page {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
  }
}
