@import "../../scss/mixin";

.footer {
  width: 100%;
  // display: flex;
  padding: 20px 5%;
  background-color: var(--darkPurple);
  color: var(--white);

  .content-left {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .footer-item {
    text-align: justify;
    a {
      text-decoration: none;
      color: var(--white);
    }
  }
  h3 {
    text-align: start;
    padding: auto;
    padding: 2px 17px;
    margin: 4px 93px;
    font-size: 17px;
    position: relative;
    font-weight: 400;
  }
  h3::before {
    content: "";
    position: absolute;
    top: 9%;
    // left: 110%;
    height: 6px;
    width: 20px; /* Adjust the length of the dash */
    background-color: var(--active);
    left: -29px;
  }

  @include sm-screen {
    flex-direction: row;
  }

  .static-left {
    order: 2;
    @include sm-screen {
      order: 1;
    }

    .content-left {
      display: block;
      flex-flow: row wrap;
      justify-content: start;

      @include sm-screen {
        flex-wrap: wrap;
      }

      .footer-item {
        margin: 10px;

        .link {
          font-size: 14px;
          color: var(--white);
          font-weight: 500;
          text-decoration: none;
        }

        .link:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
