@import "../../scss/mixin";

.footer {
  width: 100%;
  display: flex;
  padding: 20px 5%;
  flex-direction: column;
  background-color: var(--darkPurple);
  justify-content: space-between;

  @include sm-screen {
    flex-direction: row;
  }

  .static-left {
    order: 2;
    @include sm-screen {
      order: 1;
    }

    .content-left {
      display: block;
      flex-flow: row wrap;
      justify-content: start;

      @include sm-screen {
        flex-wrap: wrap;
      }

      .footer-item {
        margin: 10px;

        .link {
          font-size: 14px;
          color: var(--white);
          font-weight: 500;
          text-decoration: none;
        }

        .link:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
